* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  width: 100%;
  perspective: 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu {
  padding: 10px 50px;
  top: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;

}

.menu ul {
  width: 40%;
  list-style: none;
  font-weight: bold;
  font-size: clamp(17px, 1vw + 1px, 5rem);
  display: flex;
  justify-content: space-between;

}

.menu a {
  text-decoration: none;
  color: black;

}

.menu li:hover {
  scale: 1.1;
}

nav>a:first-child {
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: clamp(17px, 1vw + 3px, 5rem);
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.menu {
  background-color: white;
  opacity: 0;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../public/1.webp);
  background-position: center;
  background-repeat: no-repeat;
  font-size: clamp(20px, 1vw + 2px, 5rem);
  transform: translateZ(-1.5px) scale(2.5);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/2.webp);
  transform: translateZ(-1px) scale(2);
}

.main-text-container {
  text-align: center;
  font-size: clamp(20px, 1vw + 2px, 5rem);
}

.title {
  position: relative;
  /* font-size: 6rem; */
  font-size: clamp(20px, 2.5vw + 3rem, 7rem);
  color: white;
  transform: translateZ(-0.5px) scale(1.5);
}

.subtitle {
  margin-top: 50px;
  color: white;
}

.main-content-container {
  height: 100vh;
  width: 100%;
  background-color: white;
  color: black;
  transform: translateZ(0px);
}

.content {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content p {
  width: 45%;
  font-size: clamp(18px, 1vw + 1px, 5rem);
}

.img-container {
  padding: 30px;
  transform-style: preserve-3d;
  width: 100%;
  height: 50vh;
  display: flex;
}

.img-container img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  transition: 0.5s ease;
}

.img-container img:hover {
  width: 300px;
}

.second-image {
  width: 300px;
  transform: scale(1.1);
}

.problem {
  text-align: center;
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.problem p {
  width: 70%;
  font-size: clamp(20px, 1vh + 0.5px, 6rem);
  margin-top: 10px;
  padding: 10px;
}

.problem .call {
  font-size: 200px;
  font-weight: bold;
}

.content-problem {
  width: 100%;
  height: 80vh;
}

.content-problem p {
  margin-top: 50px;
  width: 70%;
  margin: 15px auto;
}

.content-problem h2 {
  text-align: center;
  margin-bottom: 20px;
}

.carrusel {
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 50px;
}

.carrusel .images {
  position: relative;
  width: 100%;
  height: 100%;
}

.carrusel img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: fill;
  animation: fade 9s infinite;
}

.carrusel .first-image {
  animation-delay: 0s;
}

.carrusel .second-image {
  animation-delay: 3s;
  width: 95%;
  height: 90%;
  left: 15px;
  top: 15px;
}


.carrusel .third-image {
  animation-delay: 6s;
}

hr {
  width: 70%;
  margin: 0 auto;
  margin-top: 30vh;
  height: 2px;
  border: none;
  background-color: black;
}

.comments-container {
  height: 50vh;
  width: 100%;
  margin-top: 30px;
}

.comments-container h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.comments {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comments article {
  height: 130px;
  width: 20%;
}

.comments blockquote {
  margin-bottom: 10px;
}

.comments blockquote p {
  font-size: 14px;
}

cite {
  font-weight: bolder;
}

.information {
  margin: 0 auto;
  width: 60%;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h2 {
  margin-bottom: 30px;
}

.information input {
  padding: 5px;
  display: block;
  margin: 20px 20px;
  width: 90%;
  outline: none;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}

.information button {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 50px;
}

.information button:hover {
  transform: scale(1.1);
}

footer {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


@media (min-width: 801px) and (max-width: 1000px) {
  .menu ul {
    width: 60%;
  }

  .img-container {
    width: 70%;
    height: 400px;
  }


  .content {
    height: 100vh;
  }

  .content p {
    width: 90%;
  }

  .main-content-container {
    height: 100vh;
    margin-top: 20vh;
  }

  .problem {
    height: 50vh;
    margin-top: 50vh;
  }

  .problem .call {
    font-size: 70px;
  }

  .content-problem {
    height: 100vh;
    margin-bottom: 200px;
  }



  .comments-container {
    margin-bottom: 90vh;
  }
}

@media (max-width: 800px) {

  .menu {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .menu ul {
    margin-top: 20px;
    font-size: 13px;
    width: 95%;
  }

  .menu a {
    text-decoration: underline;
  }

  .content p {
    font-size: 16px;
    width: 90%;
  }


  .second-image {
    transform: scale(1.1);
  }

  .problem {
    height: 70vh;
  }

  .problem .call {
    font-size: 70px;
  }

  .img-container img:hover {
    width: 150px;
  }

  .carrusel {
    width: 90%;
    height: 30vh;
  }

  .content-problem p {
    margin: 20px auto;
    font-size: 15px;
    padding: 10px;
    width: 90%;
  }

  hr {
    margin-top: 20vh;
  }

  .comments article {
    font-size: 12px;
    width: 40%;
  }
}
